.card-header{
    background-color: blue;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

#Maincard{
    border: solid black;
    border-width: 1px;
    display: inline-block;
    margin-bottom: 10px;
}
#Subcard1, #Subcard2,#Subcard3, #Subcard4, #Subcard {
    background-color: rgb(52, 52, 82);
    display: inline-block;
    margin-right: 23px;
    width: 19%;
    color: white;
}
#sideS {
    color: black;
    width: 20%;
    height: 100%;
    
}
aside{
    float: left;
    margin-right: 5px;
}

#City{
    margin-bottom: 5px;
}